.chat-form-submit {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #fff;
  padding: 12px 0;
  margin: 20px 0 0;
  border-radius: 8px;
  background-color: #3369f3;
  width: 100%;
  border: 0;
  outline: 0;
  cursor: pointer;
}
