
.chat__current-user-menu {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background-image: url(../../../../../../icons//three_points.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.chat__current-user-menu:hover {
  opacity: 0.8;
  background-color: #F5F5F5;
}

.chat__current-user-menu:active {
  background-color: #F5F5F5;
}

.chat__current-user-menu_active {
  background-color: #F5F5F5;
}