.message-label {
  display: none;
}

.message-input {
  width: 100%;
  border: 0;
  background-color: #efefef;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 10px 20px;
}

.message-error {
  display: none;
}
